# Игнорируем Git
.git
.gitignore

# Игнорируем IDE
.idea
.vscode
*.swp
*.swo

# Игнорируем документацию
README.md
docs/

# Игнорируем уже собранные бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
server
*.test

# Игнорируем временные файлы
*.log
*.out

# Игнорируем директорию данных
data/

# Игнорируем директорию зависимостей
vendor/

# Игнорируем Go workspace
go.work
